*.log
*.sqlite3
settings.json
venv/*
*.bak
*.pyc
*.env
*.swp
assets/*
node_modules/*
.DS_Store
static/css/vue-app.css
static/js/vue-app.js
.idea
/lib
/include
/bin
/.Python
/share
*.Python
*.pickle
*.pid
*.db
celerybeat.pid
/media
a.py